.home{
    display: flex;

     justify-content: center;
     align-items: center; 
     padding-bottom: 50px;
}

.head{
    font-size: 36px; 
    text-align: center;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
      background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
}
@media(max-width:801px){
.home{
    display: flex;
 
     justify-content: center;
     align-items: center; 
     padding-bottom: 30px;
     flex-direction: column;
}
.head{
    font-size: 26px; 
}

.image{
   width: 80%;
  
}

}